DATA QUALITY ASSESSMENT
1. Uniqueness
2. Completeness
    a. seluruh value pada kolom medium_descr dan long_descr null
3. Consistency
    a. penulisan nama kolom kapital semua dan tidak ada spacing (_)
4. Validity

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text

In [2]:
product_category_text = pd.read_csv("/Users/anyndaputri/Documents/Business Intelligence Binar/Challenge Platinum/Datasets SAP Bike Sales/ProductCategoryText.csv")

In [3]:
product_category_text

  PRODCATEGORYID LANGUAGE       SHORT_DESCR  MEDIUM_DESCR  LONG_DESCR
0             RO       EN         Road Bike           NaN         NaN
1             BX       EN               BMX           NaN         NaN
2             CC       EN  Cyclo-cross Bike           NaN         NaN
3             MB       EN     Mountain Bike           NaN         NaN
4             RC       EN       Racing Bike           NaN         NaN
5             DB       EN     Downhill Bike           NaN         NaN
6             EB       EN             eBike           NaN         NaN
7             CB       EN           Cruiser           NaN         NaN
8             HB       EN       Hybrid Bike           NaN         NaN

UNIQUENESS

In [4]:
product_category_text.duplicated().sum() # tidak ada data duplikat pada keseluruhan row

0

In [5]:
product_category_text[product_category_text.duplicated(subset=["PRODCATEGORYID"])] # product_category sudah unique

Empty DataFrame
Columns: [PRODCATEGORYID, LANGUAGE, SHORT_DESCR, MEDIUM_DESCR, LONG_DESCR]
Index: []

COMPLETENESS

In [6]:
product_category_text.info() # seluruh value pada kolom medium_descr dan long_descr null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PRODCATEGORYID  9 non-null      object
 1   LANGUAGE        9 non-null      object
 2   SHORT_DESCR     9 non-null      object
 3   MEDIUM_DESCR    0 non-null      float64
 4   LONG_DESCR      0 non-null      float64
dtypes: float64(2), object(3)
memory usage: 492.0+ bytes

CONSISTENCY

In [7]:
product_category_text.columns # penulisan nama kolom kapital semua dan tidak ada spacing (_)

Index(['PRODCATEGORYID', 'LANGUAGE', 'SHORT_DESCR', 'MEDIUM_DESCR',
       'LONG_DESCR'],
      dtype='object')

In [8]:
product_category_text.columns = product_category_text.columns.str.lower()

In [9]:
product_category_text.columns = product_category_text.columns.str.replace("prodcategoryid", "category_id")

In [10]:
product_category_text

  category_id language       short_descr  medium_descr  long_descr
0          RO       EN         Road Bike           NaN         NaN
1          BX       EN               BMX           NaN         NaN
2          CC       EN  Cyclo-cross Bike           NaN         NaN
3          MB       EN     Mountain Bike           NaN         NaN
4          RC       EN       Racing Bike           NaN         NaN
5          DB       EN     Downhill Bike           NaN         NaN
6          EB       EN             eBike           NaN         NaN
7          CB       EN           Cruiser           NaN         NaN
8          HB       EN       Hybrid Bike           NaN         NaN

In [11]:
product_category_text[["category_id", "language"]].groupby(by=["language"]).nunique()
# language sudah konsisten

          category_id
language
EN                  9

In [12]:
product_category_text_clean = product_category_text

In [13]:
product_category_text_clean

  category_id language       short_descr  medium_descr  long_descr
0          RO       EN         Road Bike           NaN         NaN
1          BX       EN               BMX           NaN         NaN
2          CC       EN  Cyclo-cross Bike           NaN         NaN
3          MB       EN     Mountain Bike           NaN         NaN
4          RC       EN       Racing Bike           NaN         NaN
5          DB       EN     Downhill Bike           NaN         NaN
6          EB       EN             eBike           NaN         NaN
7          CB       EN           Cruiser           NaN         NaN
8          HB       EN       Hybrid Bike           NaN         NaN

EXTRACT TO POSTGRESQL

In [14]:
# extract dari database
engine = create_engine("postgresql://postgres:260399@localhost:5432/postgres")
connection = engine.connect()

In [15]:
product_category_text_clean.to_sql("product_category_clean",
                                 con=connection,
                                 schema="base_plat_sap_bikes",
                                 if_exists="replace",
                                 index=False,
                                 method="multi"
)

9

In [16]:
# setting up the primary key
query_pk = """
alter table base_plat_sap_bikes.product_category_clean
add primary key(category_id)
"""
result = connection.execute(text(query_pk))
connection.commit()
connection.close()