DATA QUALITY ASSESSMENT
1. Uniqueness
2. Completeness
    a. seluruh value pada kolom OPITEMPOS null
3. Consistency
    a. penulisan nama kolom masih dalam huruf kapital dan tidak ada spacing (_)
    b. delivery_date masih dalam bentuk format integer
    c. order_id masih dalam bentuk format integer
4. Validity
    a. terdapat data outliers pada kolom delivery_date dengan jumlah 3 total order_id (500000112, 500000164, 500000308)

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text

In [2]:
sales_order_items = pd.read_csv("/Users/anyndaputri/Documents/Business Intelligence Binar/Challenge Platinum/Datasets SAP Bike Sales/SalesOrderItems.csv")

In [3]:
sales_order_items

,SALESORDERID,SALESORDERITEM,PRODUCTID,NOTEID,CURRENCY,GROSSAMOUNT,NETAMOUNT,TAXAMOUNT,ITEMATPSTATUS,OPITEMPOS,QUANTITY,QUANTITYUNIT,DELIVERYDATE
0,500000000,10,MB-1034,,USD,2499,2186.625,312.375,I,NaN,4,EA,20180311
1,500000000,20,CB-1161,,USD,399,349.125,49.875,I,NaN,9,EA,20180311
2,500000001,10,HB-1175,,USD,899,786.625,112.375,I,NaN,2,EA,20180228
3,500000001,20,RC-1056,,USD,2499,2186.625,312.375,I,NaN,2,EA,20180228
4,500000001,30,CC-1021,,USD,1144,1001.000,143.000,I,NaN,3,EA,20180228
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925,500000333,10,MB-1031,,USD,649,567.875,81.125,I,NaN,10,EA,20190709
1926,500000333,20,BX-1013,,USD,449,392.875,56.125,I,NaN,3,EA,20190709
1927,500000333,30,EB-1132,,USD,1900,1662.500,237.500,I,NaN,3,EA,20190709
1928,500000333,40,BX-1011,,USD,249,217.875,31.125,I,NaN,5,EA,20190709
1929,500000333,50,BX-1015,,USD,299,261.625,37.375,I,NaN,6,EA,20190709

UNIQUENESS

In [4]:
sales_order_items.duplicated().sum() # tidak ada row yang duplikat

0

COMPLETENESS

In [5]:
sales_order_items.info() # kolom OPITEMPOS null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SALESORDERID    1930 non-null   int64
 1   SALESORDERITEM  1930 non-null   int64
 2   PRODUCTID       1930 non-null   object
 3   NOTEID          1930 non-null   object
 4   CURRENCY        1930 non-null   object
 5   GROSSAMOUNT     1930 non-null   int64
 6   NETAMOUNT       1930 non-null   float64
 7   TAXAMOUNT       1930 non-null   float64
 8   ITEMATPSTATUS   1930 non-null   object
 9   OPITEMPOS       0 non-null      float64
 10  QUANTITY        1930 non-null   int64
 11  QUANTITYUNIT    1930 non-null   object
 12  DELIVERYDATE    1930 non-null   int64
dtypes: float64(3), int64(5), object(5)
memory usage: 196.1+ KB

CONSISTENCY

In [6]:
sales_order_items.columns # penulisan nama kolom masih dalam huruf kapital dan tidak ada spacing (_)

Index(['SALESORDERID', 'SALESORDERITEM', 'PRODUCTID', 'NOTEID', 'CURRENCY',
       'GROSSAMOUNT', 'NETAMOUNT', 'TAXAMOUNT', 'ITEMATPSTATUS', 'OPITEMPOS',
       'QUANTITY', 'QUANTITYUNIT', 'DELIVERYDATE'],
      dtype='object')

In [7]:
sales_order_items.columns = sales_order_items.columns.str.lower()

In [8]:
sales_order_items = sales_order_items.rename(columns={"salesorderid": "order_id", "salesorderitem": "sales_order_item", "productid": "product_id", "noteid": "note_id", 
                        "grossamount": "gross_amount", "netamount": "net_amount", "taxamount": "tax_amount", "itematpstatus": "item_atp_status", "opitempos": "op_item_pos",
                        "quantityunit": "quantity_unit", "deliverydate": "delivery_date"})

In [9]:
sales_order_items

,order_id,sales_order_item,product_id,note_id,currency,gross_amount,net_amount,tax_amount,item_atp_status,op_item_pos,quantity,quantity_unit,delivery_date
0,500000000,10,MB-1034,,USD,2499,2186.625,312.375,I,NaN,4,EA,20180311
1,500000000,20,CB-1161,,USD,399,349.125,49.875,I,NaN,9,EA,20180311
2,500000001,10,HB-1175,,USD,899,786.625,112.375,I,NaN,2,EA,20180228
3,500000001,20,RC-1056,,USD,2499,2186.625,312.375,I,NaN,2,EA,20180228
4,500000001,30,CC-1021,,USD,1144,1001.000,143.000,I,NaN,3,EA,20180228
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925,500000333,10,MB-1031,,USD,649,567.875,81.125,I,NaN,10,EA,20190709
1926,500000333,20,BX-1013,,USD,449,392.875,56.125,I,NaN,3,EA,20190709
1927,500000333,30,EB-1132,,USD,1900,1662.500,237.500,I,NaN,3,EA,20190709
1928,500000333,40,BX-1011,,USD,249,217.875,31.125,I,NaN,5,EA,20190709
1929,500000333,50,BX-1015,,USD,299,261.625,37.375,I,NaN,6,EA,20190709

In [10]:
# membuat function untuk merubah format tanggal dari integer ke timestamp
def format_timestamp(date):
    string_date = str(date)
    year, month, day = string_date[0:4], string_date[4:6], string_date[6:8]
    date_format = f"{year}-{month}-{day}"
    timestamp = pd.Timestamp(date_format)
    return timestamp

In [11]:
sales_order_items["delivery_date"] = sales_order_items["delivery_date"].apply(format_timestamp)

In [12]:
sales_order_items[["order_id", "currency"]].groupby(by="currency").nunique() # currency sudah konsisten

          order_id
currency
USD            334

In [13]:
sales_order_items[["order_id", "quantity_unit"]].groupby(by="quantity_unit").nunique() # quantity_unit sudah konsisten

               order_id
quantity_unit
EA                  334

In [14]:
list(sales_order_items["product_id"]) # penulisan product_id sudah konsisten

['MB-1034',
 'CB-1161',
 'HB-1175',
 'RC-1056',
 'CC-1021',
 'CB-1161',
 'HB-1175',
 'RC-1055',
 'DB-1081',
 'EB-1133',
 'BX-1015',
 'CC-1021',
 'RC-1056',
 'BX-1013',
 'RC-1056',
 'CB-1161',
 'EB-1131',
 'MB-1034',
 'DB-1082',
 'EB-1134',
 'BX-1014',
 'EB-1134',
 'CB-1163',
 'BX-1013',
 'MB-1034',
 'MB-1031',
 'RC-1051',
 'HB-1174',
 'RC-1054',
 'CC-1021',
 'RC-1052',
 'BX-1011',
 'HB-1175',
 'RO-1002',
 'EB-1137',
 'CB-1163',
 'EB-1134',
 'HB-1176',
 'RC-1052',
 'EB-1135',
 'RC-1054',
 'HB-1171',
 'EB-1137',
 'CC-1022',
 'CC-1023',
 'RC-1052',
 'BX-1014',
 'EB-1131',
 'EB-1135',
 'CC-1021',
 'EB-1135',
 'BX-1013',
 'DB-1081',
 'CB-1161',
 'HB-1171',
 'HB-1175',
 'RO-1002',
 'CC-1021',
 'MB-1032',
 'RO-1001',
 'MB-1031',
 'BX-1016',
 'EB-1132',
 'EB-1135',
 'RC-1054',
 'HB-1176',
 'CB-1161',
 'BX-1013',
 'RO-1001',
 'BX-1015',
 'RC-1055',
 'RO-1001',
 'CC-1023',
 'EB-1133',
 'CC-1022',
 'RC-1051',
 'CB-1161',
 'DB-1082',
 'DB-1081',
 'BX-1011',
 'CC-1022',
 'CB-1162',
 'DB-1083',
 'CB-1162',
 'MB-1033',
 'RC-1052',
 'BX-1012',
 'RC-1052',
 'EB-1133',
 'EB-1132',
 'RC-1057',
 'DB-1083',
 'RC-1053',
 'DB-1081',
 'BX-1011',
 'EB-1132',
 'RO-1001',
 'RC-1054',
 'BX-1016',
 'DB-1082',
 'RO-1001',
 'DB-1083',
 'CB-1162',
 'CC-1023',
 'EB-1136',
 'MB-1033',
 'HB-1174',
 'EB-1132',
 'DB-1082',
 'CB-1163',
 'HB-1176',
 'RC-1053',
 'DB-1083',
 'EB-1132',
 'RC-1051',
 'HB-1172',
 'CC-1023',
 'BX-1013',
 'CC-1021',
 'RC-1056',
 'EB-1135',
 'CC-1023',
 'CC-1022',
 'CC-1023',
 'MB-1034',
 'RC-1056',
 'HB-1173',
 'RO-1003',
 'BX-1013',
 'MB-1034',
 'DB-1081',
 'DB-1083',
 'BX-1013',
 'HB-1175',
 'BX-1011',
 'RC-1056',
 'EB-1136',
 'HB-1175',
 'CC-1023',
 'CB-1161',
 'HB-1171',
 'RC-1052',
 'RC-1055',
 'HB-1171',
 'CB-1163',
 'BX-1014',
 'CB-1161',
 'EB-1133',
 'EB-1132',
 'RC-1052',
 'EB-1136',
 'MB-1033',
 'CC-1023',
 'RO-1003',
 'HB-1172',
 'BX-1014',
 'RC-1054',
 'BX-1013',
 'EB-1132',
 'EB-1133',
 'RO-1001',
 'HB-1172',
 'CC-1022',
 'HB-1173',
 'EB-1134',
 'BX-1013',
 'RO-1003',
 'HB-1173',
 'HB-1174',
 'DB-1082',
 'EB-1133',
 'CC-1021',
 'CB-1163',
 'RC-1053',
 'BX-1012',
 'RO-1003',
 'DB-1083',
 'HB-1171',
 'HB-1174',
 'RO-1002',
 'EB-1134',
 'CB-1163',
 'RC-1056',
 'BX-1012',
 'EB-1132',
 'MB-1033',
 'EB-1131',
 'HB-1176',
 'RC-1052',
 'BX-1015',
 'DB-1082',
 'RC-1052',
 'HB-1175',
 'CC-1022',
 'EB-1137',
 'EB-1132',
 'EB-1134',
 'RC-1056',
 'HB-1172',
 'EB-1137',
 'CB-1163',
 'RC-1057',
 'CB-1162',
 'EB-1136',
 'HB-1171',
 'BX-1016',
 'BX-1015',
 'DB-1081',
 'BX-1016',
 'EB-1132',
 'EB-1136',
 'BX-1013',
 'RC-1054',
 'EB-1133',
 'EB-1135',
 'CB-1163',
 'EB-1134',
 'CB-1161',
 'BX-1014',
 'BX-1016',
 'CB-1161',
 'DB-1082',
 'BX-1015',
 'EB-1136',
 'BX-1015',
 'HB-1174',
 'RO-1003',
 'BX-1013',
 'DB-1081',
 'DB-1081',
 'EB-1132',
 'CB-1161',
 'HB-1173',
 'EB-1135',
 'HB-1176',
 'EB-1131',
 'CB-1161',
 'RO-1002',
 'BX-1016',
 'BX-1011',
 'BX-1013',
 'EB-1135',
 'BX-1014',
 'CB-1163',
 'RC-1054',
 'BX-1012',
 'EB-1135',
 'RC-1055',
 'HB-1174',
 'CB-1161',
 'BX-1013',
 'CC-1021',
 'DB-1081',
 'RO-1003',
 'CB-1163',
 'RC-1055',
 'DB-1083',
 'BX-1011',
 'MB-1032',
 'CC-1021',
 'CB-1161',
 'BX-1011',
 'HB-1172',
 'BX-1011',
 'DB-1081',
 'RC-1057',
 'DB-1081',
 'BX-1015',
 'BX-1011',
 'RC-1057',
 'DB-1083',
 'CB-1161',
 'EB-1134',
 'EB-1136',
 'BX-1011',
 'DB-1083',
 'RC-1055',
 'HB-1173',
 'RC-1051',
 'CB-1161',
 'MB-1032',
 'RC-1055',
 'CC-1021',
 'DB-1081',
 'RC-1052',
 'HB-1172',
 'CC-1022',
 'BX-1011',
 'RC-1052',
 'RC-1052',
 'RC-1051',
 'RC-1053',
 'RO-1003',
 'EB-1135',
 'EB-1134',
 'EB-1134',
 'CB-1161',
 'EB-1134',
 'CB-1163',
 'RO-1002',
 'RO-1002',
 'HB-1171',
 'HB-1175',
 'CB-1163',
 'HB-1174',
 'EB-1131',
 'HB-1176',
 'CC-1021',
 'MB-1033',
 'CB-1163',
 'CB-1163',
 'EB-1133',
 'HB-1176',
 'MB-1033',
 'EB-1133',
 'RC-1055',
 'RO-1001',
 'RC-1052',
 'MB-1031',
 'HB-1174',
 'BX-1011',
 'EB-1136',
 'EB-1134',
 'EB-1131',
 'RC-1055',
 'CB-1163',
 'MB-1031',
 'BX-1013',
 'CB-1163',
 'MB-1032',
 'MB-1033',
 'EB-1134',
 'BX-1015',
 'CC-1023',
 'HB-1172',
 'HB-1173',
 'HB-1173',
 'HB-1175',
 'CB-1162',
 'CB-1161',
 'BX-1014',
 'MB-1032',
 'MB-1033',
 'EB-1136',
 'HB-1174',
 'RC-1054',
 'CC-1023',
 'EB-1137',
 'CB-1163',
 'BX-1012',
 'EB-1134',
 'HB-1173',
 'RC-1056',
 'EB-1136',
 'RC-1055',
 'CC-1023',
 'EB-1131',
 'BX-1013',
 'BX-1013',
 'RC-1057',
 'BX-1016',
 'HB-1176',
 'CC-1023',
 'MB-1031',
 'EB-1135',
 'BX-1014',
 'HB-1172',
 'RO-1002',
 'CC-1021',
 'EB-1137',
 'CC-1023',
 'BX-1012',
 'HB-1176',
 'EB-1132',
 'HB-1174',
 'BX-1015',
 'BX-1015',
 'HB-1176',
 'EB-1133',
 'RC-1053',
 'HB-1173',
 'RO-1003',
 'BX-1012',
 'HB-1174',
 'CC-1022',
 'HB-1175',
 'BX-1011',
 'CB-1161',
 'HB-1176',
 'CB-1161',
 'EB-1133',
 'BX-1013',
 'EB-1137',
 'RC-1057',
 'CB-1163',
 'BX-1015',
 'BX-1012',
 'CC-1023',
 'EB-1133',
 'HB-1175',
 'EB-1132',
 'RC-1051',
 'BX-1013',
 'MB-1033',
 'HB-1173',
 'HB-1173',
 'RC-1052',
 'MB-1033',
 'CC-1023',
 'CC-1021',
 'EB-1137',
 'BX-1013',
 'EB-1137',
 'BX-1014',
 'HB-1175',
 'MB-1032',
 'MB-1032',
 'EB-1131',
 'EB-1131',
 'EB-1134',
 'EB-1131',
 'RC-1053',
 'RC-1053',
 'DB-1081',
 'HB-1176',
 'EB-1135',
 'BX-1012',
 'RC-1051',
 'DB-1082',
 'RO-1003',
 'CB-1163',
 'RO-1002',
 'RC-1056',
 'CC-1022',
 'EB-1137',
 'EB-1137',
 'RC-1054',
 'CC-1022',
 'RC-1055',
 'HB-1173',
 'HB-1172',
 'CC-1022',
 'EB-1131',
 'RC-1055',
 'RC-1053',
 'MB-1034',
 'HB-1171',
 'CB-1162',
 'EB-1133',
 'MB-1033',
 'HB-1172',
 'EB-1132',
 'BX-1016',
 'CB-1161',
 'RC-1052',
 'DB-1083',
 'BX-1013',
 'RO-1002',
 'CC-1023',
 'RC-1056',
 'HB-1173',
 'BX-1013',
 'BX-1013',
 'MB-1033',
 'RO-1001',
 'RC-1057',
 'DB-1083',
 'EB-1133',
 'CC-1023',
 'RC-1054',
 'CC-1022',
 'HB-1174',
 'EB-1134',
 'BX-1014',
 'RC-1052',
 'RO-1001',
 'BX-1013',
 'EB-1134',
 'MB-1033',
 'BX-1011',
 'CC-1023',
 'RO-1002',
 'BX-1014',
 'BX-1015',
 'BX-1015',
 'HB-1176',
 'EB-1136',
 'CB-1163',
 'CB-1162',
 'EB-1132',
 'DB-1081',
 'BX-1015',
 'RC-1053',
 'RC-1055',
 'EB-1133',
 'RC-1056',
 'DB-1082',
 'RC-1053',
 'RO-1003',
 'HB-1176',
 'RC-1056',
 'EB-1132',
 'MB-1034',
 'HB-1175',
 'HB-1173',
 'HB-1172',
 'MB-1031',
 'MB-1032',
 'DB-1081',
 'RC-1051',
 'BX-1012',
 'BX-1013',
 'HB-1174',
 'RC-1056',
 'HB-1176',
 'DB-1083',
 'MB-1032',
 'BX-1013',
 'RC-1056',
 'BX-1016',
 'MB-1033',
 'RC-1057',
 'MB-1033',
 'RC-1057',
 'BX-1011',
 'BX-1011',
 'CB-1162',
 'RO-1001',
 'BX-1013',
 'BX-1013',
 'RC-1056',
 'EB-1132',
 'MB-1033',
 'MB-1031',
 'BX-1015',
 'HB-1171',
 'EB-1133',
 'MB-1033',
 'BX-1013',
 'BX-1015',
 'CB-1163',
 'RC-1051',
 'EB-1136',
 'EB-1132',
 'CC-1023',
 'HB-1173',
 'CC-1023',
 'EB-1135',
 'CB-1162',
 'CC-1021',
 'CB-1161',
 'HB-1171',
 'CB-1163',
 'CC-1022',
 'CC-1023',
 'RO-1002',
 'DB-1083',
 'RC-1054',
 'EB-1134',
 'BX-1014',
 'RO-1003',
 'RC-1056',
 'CC-1021',
 'RO-1001',
 'HB-1176',
 'CB-1162',
 'DB-1083',
 'BX-1016',
 'BX-1014',
 'CC-1021',
 'RO-1001',
 'RC-1057',
 'CC-1022',
 'BX-1011',
 'RC-1053',
 'BX-1011',
 'HB-1173',
 'MB-1033',
 'RO-1001',
 'MB-1034',
 'BX-1013',
 'RC-1052',
 'HB-1172',
 'MB-1033',
 'RO-1003',
 'DB-1081',
 'DB-1081',
 'EB-1135',
 'HB-1174',
 'CC-1022',
 'RC-1051',
 'DB-1082',
 'RO-1002',
 'EB-1135',
 'RC-1057',
 'BX-1013',
 'BX-1016',
 'BX-1015',
 'RC-1055',
 'MB-1032',
 'BX-1014',
 'BX-1013',
 'BX-1012',
 'BX-1015',
 'MB-1034',
 'HB-1172',
 'RC-1055',
 'CC-1023',
 'EB-1133',
 'RC-1054',
 'RC-1054',
 'EB-1134',
 'RC-1056',
 'MB-1033',
 'CB-1163',
 'BX-1011',
 'EB-1134',
 'RC-1055',
 'HB-1173',
 'DB-1082',
 'BX-1013',
 'DB-1082',
 'RC-1054',
 'MB-1033',
 'CB-1163',
 'EB-1134',
 'CC-1023',
 'CB-1163',
 'RC-1057',
 'BX-1013',
 'RC-1052',
 'CB-1161',
 'RC-1057',
 'EB-1135',
 'DB-1082',
 'RO-1003',
 'BX-1013',
 'RC-1054',
 'CC-1021',
 'EB-1134',
 'BX-1016',
 'HB-1173',
 'BX-1013',
 'MB-1034',
 'MB-1031',
 'BX-1015',
 'BX-1013',
 'RC-1056',
 'MB-1031',
 'CC-1023',
 'HB-1172',
 'EB-1131',
 'CC-1023',
 'EB-1135',
 'RC-1055',
 'RC-1051',
 'BX-1014',
 'EB-1132',
 'CB-1163',
 'RC-1053',
 'RC-1053',
 'RC-1052',
 'RO-1003',
 'RC-1057',
 'RC-1055',
 'HB-1172',
 'BX-1012',
 'BX-1016',
 'CC-1022',
 'EB-1136',
 'HB-1176',
 'CB-1163',
 'HB-1174',
 'RC-1052',
 'DB-1081',
 'HB-1171',
 'DB-1082',
 'RO-1003',
 'BX-1012',
 'BX-1013',
 'BX-1015',
 'DB-1081',
 'MB-1033',
 'BX-1015',
 'EB-1131',
 'CC-1022',
 'MB-1031',
 'MB-1033',
 'RC-1051',
 'EB-1134',
 'DB-1081',
 'DB-1082',
 'EB-1131',
 'EB-1133',
 'HB-1176',
 'CB-1162',
 'EB-1134',
 'MB-1034',
 'EB-1137',
 'RO-1003',
 'BX-1013',
 'RC-1052',
 'EB-1137',
 'EB-1131',
 'HB-1174',
 'BX-1011',
 'BX-1013',
 'DB-1083',
 'RC-1053',
 'CC-1023',
 'DB-1083',
 'DB-1081',
 'DB-1082',
 'CC-1021',
 'BX-1014',
 'CB-1161',
 'RC-1053',
 'CC-1021',
 'CB-1161',
 'EB-1137',
 'EB-1131',
 'MB-1033',
 'RC-1055',
 'MB-1034',
 'HB-1176',
 'EB-1136',
 'BX-1012',
 'CB-1163',
 'MB-1033',
 'DB-1081',
 'MB-1031',
 'RC-1054',
 'CB-1163',
 'HB-1174',
 'RO-1001',
 'EB-1132',
 'EB-1131',
 'BX-1015',
 'DB-1081',
 'RC-1057',
 'DB-1083',
 'RO-1003',
 'DB-1081',
 'EB-1136',
 'CC-1023',
 'BX-1013',
 'EB-1137',
 'RC-1051',
 'RC-1055',
 'RC-1053',
 'HB-1173',
 'DB-1083',
 'MB-1032',
 'RO-1001',
 'MB-1033',
 'BX-1013',
 'EB-1134',
 'EB-1134',
 'HB-1175',
 'BX-1012',
 'BX-1011',
 'HB-1175',
 'BX-1015',
 'HB-1172',
 'CB-1162',
 'HB-1174',
 'MB-1034',
 'RO-1001',
 'CC-1023',
 'RC-1054',
 'BX-1015',
 'HB-1173',
 'RC-1056',
 'DB-1083',
 'EB-1135',
 'CB-1163',
 'CB-1162',
 'CC-1021',
 'BX-1013',
 'RC-1053',
 'BX-1016',
 'HB-1171',
 'HB-1171',
 'HB-1174',
 'RC-1055',
 'EB-1136',
 'BX-1013',
 'RC-1057',
 'HB-1176',
 'HB-1176',
 'HB-1171',
 'EB-1133',
 'HB-1175',
 'HB-1175',
 'HB-1174',
 'BX-1014',
 'RO-1002',
 'CB-1161',
 'DB-1082',
 'BX-1014',
 'HB-1175',
 'MB-1031',
 'MB-1034',
 'EB-1132',
 'BX-1013',
 'RO-1001',
 'RC-1054',
 'HB-1174',
 'HB-1171',
 'CB-1161',
 'RC-1051',
 'DB-1081',
 'EB-1135',
 'RC-1053',
 'MB-1032',
 'HB-1174',
 'HB-1174',
 'MB-1033',
 'MB-1033',
 'RC-1051',
 'CB-1163',
 'RC-1055',
 'EB-1134',
 'BX-1015',
 'CC-1021',
 'BX-1014',
 'EB-1137',
 'MB-1032',
 'RC-1055',
 'CB-1162',
 'EB-1131',
 'RC-1053',
 'DB-1082',
 'BX-1015',
 'RC-1051',
 'MB-1034',
 'BX-1015',
 'EB-1135',
 'EB-1137',
 'MB-1031',
 'DB-1083',
 'BX-1013',
 'EB-1131',
 'EB-1132',
 'CB-1161',
 'MB-1033',
 'CC-1022',
 'EB-1136',
 'HB-1175',
 'RO-1001',
 'RC-1055',
 'BX-1015',
 'BX-1015',
 'CB-1163',
 'RO-1001',
 'DB-1082',
 'MB-1033',
 'RO-1003',
 'DB-1083',
 'CC-1023',
 'HB-1175',
 'BX-1013',
 'MB-1032',
 'RO-1001',
 'MB-1031',
 'CB-1162',
 'EB-1131',
 'CC-1023',
 'RC-1055',
 'CC-1023',
 'EB-1132',
 'MB-1034',
 'HB-1172',
 'HB-1171',
 'CC-1021',
 'DB-1081',
 'EB-1135',
 'BX-1011',
 'CB-1162',
 'BX-1011',
 'RC-1057',
 'BX-1013',
 'DB-1081',
 'EB-1137',
 'BX-1014',
 'MB-1034',
 'RO-1003',
 'CC-1023',
 'RC-1055',
 'BX-1016',
 'BX-1014',
 'EB-1134',
 'RC-1052',
 'RC-1056',
 'CB-1161',
 'EB-1134',
 'EB-1135',
 'CC-1023',
 'EB-1136',
 'CC-1021',
 'EB-1132',
 'HB-1171',
 'DB-1082',
 'BX-1011',
 'RC-1052',
 'MB-1033',
 'HB-1173',
 'EB-1132',
 'RO-1001',
 'BX-1013',
 'MB-1033',
 'RC-1055',
 'CC-1023',
 'RC-1057',
 'BX-1011',
 'CC-1023',
 'EB-1137',
 'CB-1161',
 'DB-1083',
 'EB-1134',
 'RO-1001',
 'HB-1176',
 'MB-1031',
 'RC-1054',
 'RC-1056',
 'BX-1013',
 'MB-1034',
 'EB-1133',
 'BX-1016',
 'HB-1173',
 'EB-1135',
 'HB-1173',
 'DB-1083',
 'RC-1055',
 'EB-1132',
 'CC-1023',
 'BX-1012',
 'MB-1031',
 'EB-1134',
 'RC-1055',
 'BX-1015',
 'RC-1052',
 'HB-1173',
 'CB-1161',
 'EB-1133',
 'MB-1033',
 'CC-1021',
 'BX-1012',
 'DB-1081',
 'RC-1054',
 'EB-1134',
 'HB-1173',
 'MB-1034',
 'DB-1083',
 'HB-1175',
 'EB-1137',
 'EB-1134',
 'HB-1176',
 'BX-1013',
 'CC-1022',
 'BX-1013',
 'BX-1011',
 'HB-1173',
 'BX-1011',
 'EB-1134',
 'EB-1134',
 'RC-1052',
 'BX-1011',
 'BX-1014',
 'CB-1163',
 'HB-1175',
 'HB-1171',
 'EB-1137',
 'BX-1013',
 'RC-1057',
 'BX-1015',
 'DB-1082',
 'BX-1011',
 'EB-1134',
 'RC-1055',
 'RC-1057',
 'BX-1015',
 'HB-1175',
 'HB-1171',
 'BX-1013',
 'RC-1053',
 'RC-1055',
 'EB-1132',
 'BX-1016',
 'EB-1131',
 'MB-1031',
 'HB-1172',
 'RO-1003',
 'CB-1163',
 'RC-1052',
 'RO-1002',
 'CB-1162',
 'CC-1023',
 'EB-1137',
 'RC-1052',
 ...]

In [15]:
sales_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          1930 non-null   int64
 1   sales_order_item  1930 non-null   int64
 2   product_id        1930 non-null   object
 3   note_id           1930 non-null   object
 4   currency          1930 non-null   object
 5   gross_amount      1930 non-null   int64
 6   net_amount        1930 non-null   float64
 7   tax_amount        1930 non-null   float64
 8   item_atp_status   1930 non-null   object
 9   op_item_pos       0 non-null      float64
 10  quantity          1930 non-null   int64
 11  quantity_unit     1930 non-null   object
 12  delivery_date     1930 non-null   object
dtypes: float64(3), int64(4), object(6)
memory usage: 196.1+ KB

In [16]:
sales_order_items["order_id"] = sales_order_items["order_id"].astype(str)

In [17]:
sales_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          1930 non-null   object
 1   sales_order_item  1930 non-null   int64
 2   product_id        1930 non-null   object
 3   note_id           1930 non-null   object
 4   currency          1930 non-null   object
 5   gross_amount      1930 non-null   int64
 6   net_amount        1930 non-null   float64
 7   tax_amount        1930 non-null   float64
 8   item_atp_status   1930 non-null   object
 9   op_item_pos       0 non-null      float64
 10  quantity          1930 non-null   int64
 11  quantity_unit     1930 non-null   object
 12  delivery_date     1930 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 196.1+ KB

VALIDITY

In [18]:
sales_order_items.describe([.25, .50, .75, .90, 1])

,sales_order_item,gross_amount,net_amount,tax_amount,op_item_pos,quantity
count,1930.000000,1930.000000,1930.000000,1930.000000,0.0,1930.000000
mean,40.880829,1909.601554,1670.901360,238.700194,NaN,5.524870
std,24.880248,1838.714628,1608.875299,229.839328,NaN,2.881926
min,10.000000,249.000000,217.875000,31.125000,NaN,1.000000
25%,20.000000,525.000000,459.375000,65.625000,NaN,3.000000
50%,40.000000,1200.000000,1050.000000,150.000000,NaN,5.500000
75%,60.000000,2499.000000,2186.625000,312.375000,NaN,8.000000
90%,80.000000,4800.000000,4200.000000,600.000000,NaN,10.000000
100%,100.000000,7900.000000,6912.500000,987.500000,NaN,10.000000
max,100.000000,7900.000000,6912.500000,987.500000,NaN,10.000000

In [19]:
sales_order_items[sales_order_items["delivery_date"] > pd.Timestamp('2020-01-01')] # terdapat data outliers pada delivery_date
# 3 total order_id (500000112, 500000164, 500000308)
# jika dijumlahkan data tersebut berdasarkan jumlah order dan net_amount, masih di bawah 5%, sehingga data bisa ditake out

,order_id,sales_order_item,product_id,note_id,currency,gross_amount,net_amount,tax_amount,item_atp_status,op_item_pos,quantity,quantity_unit,delivery_date
618,500000112,10,HB-1173,,USD,649,567.875,81.125,I,NaN,10,EA,2999-12-12 00:00:00
619,500000112,20,DB-1082,,USD,1250,1093.750,156.250,I,NaN,7,EA,2999-12-12 00:00:00
620,500000112,30,BX-1013,,USD,449,392.875,56.125,I,NaN,5,EA,2999-12-12 00:00:00
621,500000112,40,DB-1082,,USD,1250,1093.750,156.250,I,NaN,5,EA,2999-12-12 00:00:00
622,500000112,50,RC-1054,,USD,5499,4811.625,687.375,I,NaN,2,EA,2999-12-12 00:00:00
623,500000112,60,MB-1033,,USD,3999,3499.125,499.875,I,NaN,4,EA,2999-12-12 00:00:00
624,500000112,70,CB-1163,,USD,288,252.000,36.000,I,NaN,7,EA,2999-12-12 00:00:00
625,500000112,80,EB-1134,,USD,4800,4200.000,600.000,I,NaN,1,EA,2999-12-12 00:00:00
626,500000112,90,CC-1023,,USD,1361,1190.875,170.125,I,NaN,3,EA,2999-12-12 00:00:00
627,500000112,100,CB-1163,,USD,288,252.000,36.000,I,NaN,2,EA,2999-12-12 00:00:00
933,500000164,10,RC-1055,,USD,1999,1749.125,249.875,I,NaN,7,EA,2999-12-12 00:00:00
934,500000164,20,EB-1132,,USD,1900,1662.500,237.500,I,NaN,9,EA,2999-12-12 00:00:00
935,500000164,30,CC-1023,,USD,1361,1190.875,170.125,I,NaN,1,EA,2999-12-12 00:00:00
936,500000164,40,BX-1012,,USD,399,349.125,49.875,I,NaN,2,EA,2999-12-12 00:00:00
1784,500000308,10,RC-1055,,USD,1999,1749.125,249.875,I,NaN,7,EA,2999-12-12 00:00:00
1785,500000308,20,MB-1034,,USD,2499,2186.625,312.375,I,NaN,9,EA,2999-12-12 00:00:00
1786,500000308,30,CB-1163,,USD,288,252.000,36.000,I,NaN,5,EA,2999-12-12 00:00:00
1787,500000308,40,CC-1023,,USD,1361,1190.875,170.125,I,NaN,3,EA,2999-12-12 00:00:00
1788,500000308,50,MB-1033,,USD,3999,3499.125,499.875,I,NaN,5,EA,2999-12-12 00:00:00
1789,500000308,60,CC-1023,,USD,1361,1190.875,170.125,I,NaN,8,EA,2999-12-12 00:00:00
1790,500000308,70,EB-1137,,USD,7900,6912.500,987.500,I,NaN,8,EA,2999-12-12 00:00:00
1791,500000308,80,RO-1003,,USD,721,630.875,90.125,I,NaN,2,EA,2999-12-12 00:00:00

In [20]:
sales_order_items_clean = sales_order_items[sales_order_items["delivery_date"] < pd.Timestamp('2020-01-01')]

EXTRACT TO POSTGRESQL

In [28]:
# extract dari database
engine = create_engine("postgresql://postgres:260399@localhost:5432/postgres")
connection = engine.connect()

In [29]:
sales_order_items_clean.to_sql("order_details_clean",
                                 con=connection,
                                 schema="base_plat_sap_bikes",
                                 if_exists="replace",
                                 index=True,
                                 method="multi"
)

1908

In [30]:
# setting up the primary key
query_pk = """
alter table base_plat_sap_bikes.order_details_clean
add primary key(index)
"""
result = connection.execute(text(query_pk))
connection.commit()
connection.close()

In [31]:
# extract dari database
engine = create_engine("postgresql://postgres:260399@localhost:5432/postgres")
connection = engine.connect()

In [32]:
# setting up the foreign key
query_fk = ["alter table base_plat_sap_bikes.order_details_clean add constraint salesdet_cons foreign key(order_id) references base_plat_sap_bikes.sales_orders_clean(order_id)",
            "alter table base_plat_sap_bikes.order_details_clean add constraint proddet_cons foreign key(product_id) references base_plat_sap_bikes.products_clean(product_id)"
            ]
for q in query_fk:
    result = connection.execute(text(q))
connection.commit()
connection.close()