DATA QUALITY ASSESSMENT

1. Uniqueness tidak ada data duplikat
2. Completeness
    a. terdapat 6 data null pada kolom building pada address_id 1000000059, 1000000060, 1000000061, 1000000062, 1000000063, 1000000006
3. Consistency
    a. penulisan nama kolom seluruhnya kapital, tidak ada spacing (_)
    b. penulisan nama negara tidak readable
    c. terdapat data yang tidak menuliskan nama jalan, hanya menuliskan nama PO Box pada address_id 1000000059, 1000000060, 1000000061, 1000000062, 1000000063, 1000000006
    d. penulisan tanggal pada kolom validity_startdate dan validity_enddate tidak dalam bentuk format timestamp
    e. address_id, address_type, latitude, dan longitude masih dalam bentuk integer
4. Validity

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text
from datetime import datetime

In [2]:
addresses = pd.read_csv("/Users/anyndaputri/Documents/Business Intelligence Binar/Challenge Platinum/Datasets SAP Bike Sales/Addresses.csv")
addresses

,ADDRESSID,CITY,POSTALCODE,STREET,BUILDING,COUNTRY,REGION,ADDRESSTYPE,VALIDITY_STARTDATE,VALIDITY_ENDDATE,LATITUDE,LONGITUDE
0,1000000034,West Nyack,10994,Settlers Lane,5027.0,US,AMER,2,20000101,99991231,41.100057,-73.973562
1,1000000035,Fair Oaks,95628,Woodland Terrace,4467.0,US,AMER,2,20000101,99991231,38.638355,-121.286683
2,1000000036,Dunn,28334,Layman Avenue,2250.0,US,AMER,2,20000101,99991231,35.312013,-78.609950
3,1000000037,Chicago,60605,University Drive,4697.0,US,AMER,2,20000101,99991231,41.874591,-87.627303
4,1000000038,Ocala,34471,Bagwell Avenue,1565.0,US,AMER,2,20000101,99991231,29.183977,-82.118413
5,1000000039,Callenberg,02681,Kantstraße,56.0,DE,EMEA,2,20000101,99991231,51.096588,14.433772
6,1000000040,Trimport,54636,Luetzowplatz,74.0,DE,EMEA,2,20000101,99991231,49.908759,6.578609
7,1000000041,Berlin Mariendorf,12107,Brandenburgische Straße,10.0,DE,EMEA,2,20000101,99991231,52.492245,13.310903
8,1000000042,Marne,25705,An Der Urania,30.0,DE,EMEA,2,20000101,99991231,53.952609,9.018139
9,1000000043,Augsburg,86045,Sonnenallee,43.0,DE,EMEA,2,20000101,99991231,48.370625,10.893961
10,1000000044,Glyntaff,CF37 3JJ,Brynglas Road,106.0,GB,EMEA,2,20000101,99991231,51.597073,-3.321350
11,1000000045,Stanton Wick,BS18 9DW,Pier Road,86.0,GB,EMEA,2,20000101,99991231,51.355959,-2.557565
12,1000000046,Talgarth,LD3 7QD,Scotsburn Rd,75.0,GB,EMEA,2,20000101,99991231,51.995666,-3.230553
13,1000000047,Stonestreet Green,TN25 2XG,Broomfield Place,48.0,GB,EMEA,2,20000101,99991231,51.098513,0.950137
14,1000000048,London,SE14 8JW,Guild Street,50.0,GB,EMEA,2,20000101,99991231,51.515982,-0.091245
15,1000000049,Kitoba,4605,Raglan Street,5.0,AU,APJ,2,20000101,99991231,-26.073321,151.859836
16,1000000050,Meadow Heights,3048,Creedon Street,11.0,AU,APJ,2,20000101,99991231,-37.651278,144.923051
17,1000000051,Kununurra,6743,Darwinia Loop,11.0,AU,APJ,2,20000101,99991231,-15.802511,128.746775
18,1000000052,Canberra,2601,Quayside Vista,18.0,AU,APJ,2,20000101,99991231,-35.279663,149.126715
19,1000000053,Canberra,2601,Quayside Vista,95.0,AU,APJ,2,20000101,99991231,-35.278051,149.124245
20,1000000054,Mumbai,400092,Rahul Enclave,105.0,IN,APJ,2,20000101,99991231,19.313940,72.857565
21,1000000055,Hyderabad,400092,Nampally,43.0,IN,APJ,2,20000101,99991231,17.385758,78.467547
22,1000000056,Mumbai,400017,Rewa Fort Colony,15.0,IN,APJ,2,20000101,99991231,19.046575,72.864262
23,1000000057,Mumbai,400012,Ambedkar Road,10.0,IN,APJ,2,20000101,99991231,19.073197,72.826831
24,1000000058,Delhi,110005,Faiz Road,93.0,IN,APJ,2,20000101,99991231,28.650563,77.200575
25,1000000059,Jebel Ali Free Zone,18673,Box No. 18673,NaN,DU,EMEA,2,20000101,99991231,25.006517,55.065244
26,1000000060,Dubai,39388,Box No. 39388,NaN,DU,EMEA,2,20000101,99991231,25.013792,55.131876
27,1000000061,Dubai,92064,Box No. 92064,NaN,DU,EMEA,2,20000101,99991231,24.960345,55.124104
28,1000000062,Dubai,30134,Box No. 30134,NaN,DU,EMEA,2,20000101,99991231,24.956728,55.120386
29,1000000063,Jebel Ali Free Zone,16939,Box No. 16939,NaN,DU,EMEA,2,20000101,99991231,24.963277,55.053726
30,1000000064,Borden,S4P 3Y2,St. John Street,3578.0,CA,AMER,2,20000101,99991231,47.595469,-52.703448
31,1000000065,Cooksville,L5A 1V9,Heatherleigh,3404.0,CA,AMER,2,20000101,99991231,43.570089,-79.609911
32,1000000066,Iroquois,K0E 1K0,Elgin Street,1008.0,CA,AMER,2,20000101,99991231,44.845124,-75.318280
33,1000000067,Schefferville,J0C 1G0,rue des Églises Est,2273.0,CA,AMER,2,20000101,99991231,54.809261,-66.815519
34,1000000068,Toronto,M5H 1P6,Adelaide St,1483.0,CA,AMER,2,20000101,99991231,43.647763,-79.391022
35,1000000069,Chelles,77500,rue Ernest Renan,21.0,FR,EMEA,2,20000101,99991231,48.878471,2.589870
36,1000000070,Laon,02000,Place Napoléon,55.0,FR,EMEA,2,20000101,99991231,49.553186,3.627835
37,1000000071,Besanon,25000,rue Jean Vilar,73.0,FR,EMEA,2,20000101,99991231,47.242859,6.035751
38,1000000072,Athis-Mons,91200,rue de Lille,54.0,FR,EMEA,2,20000101,99991231,48.705235,2.375049
39,1000000073,Paris,75006,rue Nationale,114.0,FR,EMEA,2,20000101,99991231,48.827364,2.366021
40,1000000001,Burr Ridge,60527,Fraggle Drive,996.0,US,AMER,1,20000101,99991231,41.748490,-87.918277
41,1000000002,Floß,92683,Borstelmannsweg,57.0,DE,EMEA,1,20000101,99991231,53.550141,10.052733
42,1000000003,High Halden,TN26 7GJ,Nenthead Road,126.0,GB,EMEA,1,20000101,99991231,51.101237,0.698829
43,1000000004,Sleepy Hollow,2483,Chester Street,48.0,AU,APJ,1,20000101,99991231,-28.420591,153.524102
44,1000000005,Mumbai,400015,T.k.indui Estate,11.0,IN,APJ,1,20000101,99991231,19.175001,72.850043
45,1000000006,Dubai,89610,Box No. 89610,NaN,DU,EMEA,1,20000101,99991231,24.968781,55.129116
46,1000000007,Annaheim,S4P 3Y2,St. John Street,2845.0,CA,AMER,1,20000101,99991231,52.319432,-104.820274
47,1000000008,Strasbourg,67100,rue Descartes,23.0,FR,EMEA,1,20000101,99991231,48.578824,7.762616
48,1000000009,San Luis Obispo,93401,Par Drive,1378.0,US,AMER,1,20000101,99991231,35.284387,-120.659734
49,1000000010,Jersey City,07305,Lakewood Drive,285.0,US,AMER,1,20000101,99991231,40.816042,-74.188869
50,1000000011,Wingate,79566,Frederick Street,728.0,US,AMER,1,20000101,99991231,39.418878,-77.409172
51,1000000012,Toronto,M2J 3T7,Victoria Park Ave,2523.0,CA,AMER,1,20000101,99991231,43.748615,-79.311992
52,1000000013,Toronto,M1S 1T4,Sheppard Ave,1122.0,CA,AMER,1,20000101,99991231,43.747480,-79.482548
53,1000000014,Toronto,P3E 4N2,Paris St,3443.0,CA,AMER,1,20000101,99991231,43.609163,-79.645953

In [3]:
addresses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ADDRESSID           54 non-null     int64
 1   CITY                54 non-null     object
 2   POSTALCODE          54 non-null     object
 3   STREET              54 non-null     object
 4   BUILDING            48 non-null     float64
 5   COUNTRY             54 non-null     object
 6   REGION              54 non-null     object
 7   ADDRESSTYPE         54 non-null     int64
 8   VALIDITY_STARTDATE  54 non-null     int64
 9   VALIDITY_ENDDATE    54 non-null     int64
 10  LATITUDE            54 non-null     float64
 11  LONGITUDE           54 non-null     float64
dtypes: float64(3), int64(4), object(5)
memory usage: 5.2+ KB

In [4]:
# menambahkan data address_id 1000000074 dan 1000000075
data_update = pd.DataFrame({"ADDRESSID": [1000000074, 1000000075], "CITY": ["Paris", "Oklahoma"], "POSTALCODE": ["75001", "73101-73199"], "STREET": ["Rue de Rivoli", "Robinson Ave"], "BUILDING": [50, 100],
              "COUNTRY": ["FR", "US"], "REGION": ["EMEA", "AMER"], "ADDRESSTYPE": [1, 1], "VALIDITY_STARTDATE": [20000101, 20000101], "VALIDITY_ENDDATE": [99991231, 99991231],
              "LATITUDE": [48.8564, 35.4721], "LONGITUDE": [2.3522, 97.5163]})

In [5]:
addresses_updated = pd.concat([addresses, data_update], ignore_index=True)

In [6]:
addresses_updated

,ADDRESSID,CITY,POSTALCODE,STREET,BUILDING,COUNTRY,REGION,ADDRESSTYPE,VALIDITY_STARTDATE,VALIDITY_ENDDATE,LATITUDE,LONGITUDE
0,1000000034,West Nyack,10994,Settlers Lane,5027.0,US,AMER,2,20000101,99991231,41.100057,-73.973562
1,1000000035,Fair Oaks,95628,Woodland Terrace,4467.0,US,AMER,2,20000101,99991231,38.638355,-121.286683
2,1000000036,Dunn,28334,Layman Avenue,2250.0,US,AMER,2,20000101,99991231,35.312013,-78.609950
3,1000000037,Chicago,60605,University Drive,4697.0,US,AMER,2,20000101,99991231,41.874591,-87.627303
4,1000000038,Ocala,34471,Bagwell Avenue,1565.0,US,AMER,2,20000101,99991231,29.183977,-82.118413
5,1000000039,Callenberg,02681,Kantstraße,56.0,DE,EMEA,2,20000101,99991231,51.096588,14.433772
6,1000000040,Trimport,54636,Luetzowplatz,74.0,DE,EMEA,2,20000101,99991231,49.908759,6.578609
7,1000000041,Berlin Mariendorf,12107,Brandenburgische Straße,10.0,DE,EMEA,2,20000101,99991231,52.492245,13.310903
8,1000000042,Marne,25705,An Der Urania,30.0,DE,EMEA,2,20000101,99991231,53.952609,9.018139
9,1000000043,Augsburg,86045,Sonnenallee,43.0,DE,EMEA,2,20000101,99991231,48.370625,10.893961
10,1000000044,Glyntaff,CF37 3JJ,Brynglas Road,106.0,GB,EMEA,2,20000101,99991231,51.597073,-3.321350
11,1000000045,Stanton Wick,BS18 9DW,Pier Road,86.0,GB,EMEA,2,20000101,99991231,51.355959,-2.557565
12,1000000046,Talgarth,LD3 7QD,Scotsburn Rd,75.0,GB,EMEA,2,20000101,99991231,51.995666,-3.230553
13,1000000047,Stonestreet Green,TN25 2XG,Broomfield Place,48.0,GB,EMEA,2,20000101,99991231,51.098513,0.950137
14,1000000048,London,SE14 8JW,Guild Street,50.0,GB,EMEA,2,20000101,99991231,51.515982,-0.091245
15,1000000049,Kitoba,4605,Raglan Street,5.0,AU,APJ,2,20000101,99991231,-26.073321,151.859836
16,1000000050,Meadow Heights,3048,Creedon Street,11.0,AU,APJ,2,20000101,99991231,-37.651278,144.923051
17,1000000051,Kununurra,6743,Darwinia Loop,11.0,AU,APJ,2,20000101,99991231,-15.802511,128.746775
18,1000000052,Canberra,2601,Quayside Vista,18.0,AU,APJ,2,20000101,99991231,-35.279663,149.126715
19,1000000053,Canberra,2601,Quayside Vista,95.0,AU,APJ,2,20000101,99991231,-35.278051,149.124245
20,1000000054,Mumbai,400092,Rahul Enclave,105.0,IN,APJ,2,20000101,99991231,19.313940,72.857565
21,1000000055,Hyderabad,400092,Nampally,43.0,IN,APJ,2,20000101,99991231,17.385758,78.467547
22,1000000056,Mumbai,400017,Rewa Fort Colony,15.0,IN,APJ,2,20000101,99991231,19.046575,72.864262
23,1000000057,Mumbai,400012,Ambedkar Road,10.0,IN,APJ,2,20000101,99991231,19.073197,72.826831
24,1000000058,Delhi,110005,Faiz Road,93.0,IN,APJ,2,20000101,99991231,28.650563,77.200575
25,1000000059,Jebel Ali Free Zone,18673,Box No. 18673,NaN,DU,EMEA,2,20000101,99991231,25.006517,55.065244
26,1000000060,Dubai,39388,Box No. 39388,NaN,DU,EMEA,2,20000101,99991231,25.013792,55.131876
27,1000000061,Dubai,92064,Box No. 92064,NaN,DU,EMEA,2,20000101,99991231,24.960345,55.124104
28,1000000062,Dubai,30134,Box No. 30134,NaN,DU,EMEA,2,20000101,99991231,24.956728,55.120386
29,1000000063,Jebel Ali Free Zone,16939,Box No. 16939,NaN,DU,EMEA,2,20000101,99991231,24.963277,55.053726
30,1000000064,Borden,S4P 3Y2,St. John Street,3578.0,CA,AMER,2,20000101,99991231,47.595469,-52.703448
31,1000000065,Cooksville,L5A 1V9,Heatherleigh,3404.0,CA,AMER,2,20000101,99991231,43.570089,-79.609911
32,1000000066,Iroquois,K0E 1K0,Elgin Street,1008.0,CA,AMER,2,20000101,99991231,44.845124,-75.318280
33,1000000067,Schefferville,J0C 1G0,rue des Églises Est,2273.0,CA,AMER,2,20000101,99991231,54.809261,-66.815519
34,1000000068,Toronto,M5H 1P6,Adelaide St,1483.0,CA,AMER,2,20000101,99991231,43.647763,-79.391022
35,1000000069,Chelles,77500,rue Ernest Renan,21.0,FR,EMEA,2,20000101,99991231,48.878471,2.589870
36,1000000070,Laon,02000,Place Napoléon,55.0,FR,EMEA,2,20000101,99991231,49.553186,3.627835
37,1000000071,Besanon,25000,rue Jean Vilar,73.0,FR,EMEA,2,20000101,99991231,47.242859,6.035751
38,1000000072,Athis-Mons,91200,rue de Lille,54.0,FR,EMEA,2,20000101,99991231,48.705235,2.375049
39,1000000073,Paris,75006,rue Nationale,114.0,FR,EMEA,2,20000101,99991231,48.827364,2.366021
40,1000000001,Burr Ridge,60527,Fraggle Drive,996.0,US,AMER,1,20000101,99991231,41.748490,-87.918277
41,1000000002,Floß,92683,Borstelmannsweg,57.0,DE,EMEA,1,20000101,99991231,53.550141,10.052733
42,1000000003,High Halden,TN26 7GJ,Nenthead Road,126.0,GB,EMEA,1,20000101,99991231,51.101237,0.698829
43,1000000004,Sleepy Hollow,2483,Chester Street,48.0,AU,APJ,1,20000101,99991231,-28.420591,153.524102
44,1000000005,Mumbai,400015,T.k.indui Estate,11.0,IN,APJ,1,20000101,99991231,19.175001,72.850043
45,1000000006,Dubai,89610,Box No. 89610,NaN,DU,EMEA,1,20000101,99991231,24.968781,55.129116
46,1000000007,Annaheim,S4P 3Y2,St. John Street,2845.0,CA,AMER,1,20000101,99991231,52.319432,-104.820274
47,1000000008,Strasbourg,67100,rue Descartes,23.0,FR,EMEA,1,20000101,99991231,48.578824,7.762616
48,1000000009,San Luis Obispo,93401,Par Drive,1378.0,US,AMER,1,20000101,99991231,35.284387,-120.659734
49,1000000010,Jersey City,07305,Lakewood Drive,285.0,US,AMER,1,20000101,99991231,40.816042,-74.188869
50,1000000011,Wingate,79566,Frederick Street,728.0,US,AMER,1,20000101,99991231,39.418878,-77.409172
51,1000000012,Toronto,M2J 3T7,Victoria Park Ave,2523.0,CA,AMER,1,20000101,99991231,43.748615,-79.311992
52,1000000013,Toronto,M1S 1T4,Sheppard Ave,1122.0,CA,AMER,1,20000101,99991231,43.747480,-79.482548
53,1000000014,Toronto,P3E 4N2,Paris St,3443.0,CA,AMER,1,20000101,99991231,43.609163,-79.645953
54,1000000074,Paris,75001,Rue de Rivoli,50.0,FR,EMEA,1,20000101,99991231,48.856400,2.352200
55,1000000075,Oklahoma,73101-73199,Robinson Ave,100.0,US,AMER,1,20000101,99991231,35.472100,97.516300

UNIQUENESS

In [7]:
addresses_updated.duplicated().sum() # tidak ada yang duplikat dari seluruh gabungan setiap row

0

In [8]:
addresses_updated[addresses_updated.duplicated(subset="ADDRESSID")] # address_id unique

Empty DataFrame
Columns: [ADDRESSID, CITY, POSTALCODE, STREET, BUILDING, COUNTRY, REGION, ADDRESSTYPE, VALIDITY_STARTDATE, VALIDITY_ENDDATE, LATITUDE, LONGITUDE]
Index: []

COMPLETENESS

In [9]:
addresses_updated.info() # terdapat data null pada kolom building

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ADDRESSID           56 non-null     int64
 1   CITY                56 non-null     object
 2   POSTALCODE          56 non-null     object
 3   STREET              56 non-null     object
 4   BUILDING            50 non-null     float64
 5   COUNTRY             56 non-null     object
 6   REGION              56 non-null     object
 7   ADDRESSTYPE         56 non-null     int64
 8   VALIDITY_STARTDATE  56 non-null     int64
 9   VALIDITY_ENDDATE    56 non-null     int64
 10  LATITUDE            56 non-null     float64
 11  LONGITUDE           56 non-null     float64
dtypes: float64(3), int64(4), object(5)
memory usage: 5.4+ KB

In [10]:
addresses_updated[addresses_updated.isna().any(axis=1)] # data yang memiliki value null pada kolom building

,ADDRESSID,CITY,POSTALCODE,STREET,BUILDING,COUNTRY,REGION,ADDRESSTYPE,VALIDITY_STARTDATE,VALIDITY_ENDDATE,LATITUDE,LONGITUDE
25,1000000059,Jebel Ali Free Zone,18673,Box No. 18673,NaN,DU,EMEA,2,20000101,99991231,25.006517,55.065244
26,1000000060,Dubai,39388,Box No. 39388,NaN,DU,EMEA,2,20000101,99991231,25.013792,55.131876
27,1000000061,Dubai,92064,Box No. 92064,NaN,DU,EMEA,2,20000101,99991231,24.960345,55.124104
28,1000000062,Dubai,30134,Box No. 30134,NaN,DU,EMEA,2,20000101,99991231,24.956728,55.120386
29,1000000063,Jebel Ali Free Zone,16939,Box No. 16939,NaN,DU,EMEA,2,20000101,99991231,24.963277,55.053726
45,1000000006,Dubai,89610,Box No. 89610,NaN,DU,EMEA,1,20000101,99991231,24.968781,55.129116

CONSISTENCY

In [11]:
addresses_updated.columns # penulisan nama kolom masih kapital semua

Index(['ADDRESSID', 'CITY', 'POSTALCODE', 'STREET', 'BUILDING', 'COUNTRY',
       'REGION', 'ADDRESSTYPE', 'VALIDITY_STARTDATE', 'VALIDITY_ENDDATE',
       'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [12]:
addresses_updated.columns = addresses_updated.columns.str.lower()
addresses_updated

,addressid,city,postalcode,street,building,country,region,addresstype,validity_startdate,validity_enddate,latitude,longitude
0,1000000034,West Nyack,10994,Settlers Lane,5027.0,US,AMER,2,20000101,99991231,41.100057,-73.973562
1,1000000035,Fair Oaks,95628,Woodland Terrace,4467.0,US,AMER,2,20000101,99991231,38.638355,-121.286683
2,1000000036,Dunn,28334,Layman Avenue,2250.0,US,AMER,2,20000101,99991231,35.312013,-78.609950
3,1000000037,Chicago,60605,University Drive,4697.0,US,AMER,2,20000101,99991231,41.874591,-87.627303
4,1000000038,Ocala,34471,Bagwell Avenue,1565.0,US,AMER,2,20000101,99991231,29.183977,-82.118413
5,1000000039,Callenberg,02681,Kantstraße,56.0,DE,EMEA,2,20000101,99991231,51.096588,14.433772
6,1000000040,Trimport,54636,Luetzowplatz,74.0,DE,EMEA,2,20000101,99991231,49.908759,6.578609
7,1000000041,Berlin Mariendorf,12107,Brandenburgische Straße,10.0,DE,EMEA,2,20000101,99991231,52.492245,13.310903
8,1000000042,Marne,25705,An Der Urania,30.0,DE,EMEA,2,20000101,99991231,53.952609,9.018139
9,1000000043,Augsburg,86045,Sonnenallee,43.0,DE,EMEA,2,20000101,99991231,48.370625,10.893961
10,1000000044,Glyntaff,CF37 3JJ,Brynglas Road,106.0,GB,EMEA,2,20000101,99991231,51.597073,-3.321350
11,1000000045,Stanton Wick,BS18 9DW,Pier Road,86.0,GB,EMEA,2,20000101,99991231,51.355959,-2.557565
12,1000000046,Talgarth,LD3 7QD,Scotsburn Rd,75.0,GB,EMEA,2,20000101,99991231,51.995666,-3.230553
13,1000000047,Stonestreet Green,TN25 2XG,Broomfield Place,48.0,GB,EMEA,2,20000101,99991231,51.098513,0.950137
14,1000000048,London,SE14 8JW,Guild Street,50.0,GB,EMEA,2,20000101,99991231,51.515982,-0.091245
15,1000000049,Kitoba,4605,Raglan Street,5.0,AU,APJ,2,20000101,99991231,-26.073321,151.859836
16,1000000050,Meadow Heights,3048,Creedon Street,11.0,AU,APJ,2,20000101,99991231,-37.651278,144.923051
17,1000000051,Kununurra,6743,Darwinia Loop,11.0,AU,APJ,2,20000101,99991231,-15.802511,128.746775
18,1000000052,Canberra,2601,Quayside Vista,18.0,AU,APJ,2,20000101,99991231,-35.279663,149.126715
19,1000000053,Canberra,2601,Quayside Vista,95.0,AU,APJ,2,20000101,99991231,-35.278051,149.124245
20,1000000054,Mumbai,400092,Rahul Enclave,105.0,IN,APJ,2,20000101,99991231,19.313940,72.857565
21,1000000055,Hyderabad,400092,Nampally,43.0,IN,APJ,2,20000101,99991231,17.385758,78.467547
22,1000000056,Mumbai,400017,Rewa Fort Colony,15.0,IN,APJ,2,20000101,99991231,19.046575,72.864262
23,1000000057,Mumbai,400012,Ambedkar Road,10.0,IN,APJ,2,20000101,99991231,19.073197,72.826831
24,1000000058,Delhi,110005,Faiz Road,93.0,IN,APJ,2,20000101,99991231,28.650563,77.200575
25,1000000059,Jebel Ali Free Zone,18673,Box No. 18673,NaN,DU,EMEA,2,20000101,99991231,25.006517,55.065244
26,1000000060,Dubai,39388,Box No. 39388,NaN,DU,EMEA,2,20000101,99991231,25.013792,55.131876
27,1000000061,Dubai,92064,Box No. 92064,NaN,DU,EMEA,2,20000101,99991231,24.960345,55.124104
28,1000000062,Dubai,30134,Box No. 30134,NaN,DU,EMEA,2,20000101,99991231,24.956728,55.120386
29,1000000063,Jebel Ali Free Zone,16939,Box No. 16939,NaN,DU,EMEA,2,20000101,99991231,24.963277,55.053726
30,1000000064,Borden,S4P 3Y2,St. John Street,3578.0,CA,AMER,2,20000101,99991231,47.595469,-52.703448
31,1000000065,Cooksville,L5A 1V9,Heatherleigh,3404.0,CA,AMER,2,20000101,99991231,43.570089,-79.609911
32,1000000066,Iroquois,K0E 1K0,Elgin Street,1008.0,CA,AMER,2,20000101,99991231,44.845124,-75.318280
33,1000000067,Schefferville,J0C 1G0,rue des Églises Est,2273.0,CA,AMER,2,20000101,99991231,54.809261,-66.815519
34,1000000068,Toronto,M5H 1P6,Adelaide St,1483.0,CA,AMER,2,20000101,99991231,43.647763,-79.391022
35,1000000069,Chelles,77500,rue Ernest Renan,21.0,FR,EMEA,2,20000101,99991231,48.878471,2.589870
36,1000000070,Laon,02000,Place Napoléon,55.0,FR,EMEA,2,20000101,99991231,49.553186,3.627835
37,1000000071,Besanon,25000,rue Jean Vilar,73.0,FR,EMEA,2,20000101,99991231,47.242859,6.035751
38,1000000072,Athis-Mons,91200,rue de Lille,54.0,FR,EMEA,2,20000101,99991231,48.705235,2.375049
39,1000000073,Paris,75006,rue Nationale,114.0,FR,EMEA,2,20000101,99991231,48.827364,2.366021
40,1000000001,Burr Ridge,60527,Fraggle Drive,996.0,US,AMER,1,20000101,99991231,41.748490,-87.918277
41,1000000002,Floß,92683,Borstelmannsweg,57.0,DE,EMEA,1,20000101,99991231,53.550141,10.052733
42,1000000003,High Halden,TN26 7GJ,Nenthead Road,126.0,GB,EMEA,1,20000101,99991231,51.101237,0.698829
43,1000000004,Sleepy Hollow,2483,Chester Street,48.0,AU,APJ,1,20000101,99991231,-28.420591,153.524102
44,1000000005,Mumbai,400015,T.k.indui Estate,11.0,IN,APJ,1,20000101,99991231,19.175001,72.850043
45,1000000006,Dubai,89610,Box No. 89610,NaN,DU,EMEA,1,20000101,99991231,24.968781,55.129116
46,1000000007,Annaheim,S4P 3Y2,St. John Street,2845.0,CA,AMER,1,20000101,99991231,52.319432,-104.820274
47,1000000008,Strasbourg,67100,rue Descartes,23.0,FR,EMEA,1,20000101,99991231,48.578824,7.762616
48,1000000009,San Luis Obispo,93401,Par Drive,1378.0,US,AMER,1,20000101,99991231,35.284387,-120.659734
49,1000000010,Jersey City,07305,Lakewood Drive,285.0,US,AMER,1,20000101,99991231,40.816042,-74.188869
50,1000000011,Wingate,79566,Frederick Street,728.0,US,AMER,1,20000101,99991231,39.418878,-77.409172
51,1000000012,Toronto,M2J 3T7,Victoria Park Ave,2523.0,CA,AMER,1,20000101,99991231,43.748615,-79.311992
52,1000000013,Toronto,M1S 1T4,Sheppard Ave,1122.0,CA,AMER,1,20000101,99991231,43.747480,-79.482548
53,1000000014,Toronto,P3E 4N2,Paris St,3443.0,CA,AMER,1,20000101,99991231,43.609163,-79.645953
54,1000000074,Paris,75001,Rue de Rivoli,50.0,FR,EMEA,1,20000101,99991231,48.856400,2.352200
55,1000000075,Oklahoma,73101-73199,Robinson Ave,100.0,US,AMER,1,20000101,99991231,35.472100,97.516300

In [13]:
addresses_updated.rename(columns={"addressid": "address_id", "postalcode": "postal_code", "addresstype": "address_type"}, inplace=True)

In [14]:
addresses_updated

,address_id,city,postal_code,street,building,country,region,address_type,validity_startdate,validity_enddate,latitude,longitude
0,1000000034,West Nyack,10994,Settlers Lane,5027.0,US,AMER,2,20000101,99991231,41.100057,-73.973562
1,1000000035,Fair Oaks,95628,Woodland Terrace,4467.0,US,AMER,2,20000101,99991231,38.638355,-121.286683
2,1000000036,Dunn,28334,Layman Avenue,2250.0,US,AMER,2,20000101,99991231,35.312013,-78.609950
3,1000000037,Chicago,60605,University Drive,4697.0,US,AMER,2,20000101,99991231,41.874591,-87.627303
4,1000000038,Ocala,34471,Bagwell Avenue,1565.0,US,AMER,2,20000101,99991231,29.183977,-82.118413
5,1000000039,Callenberg,02681,Kantstraße,56.0,DE,EMEA,2,20000101,99991231,51.096588,14.433772
6,1000000040,Trimport,54636,Luetzowplatz,74.0,DE,EMEA,2,20000101,99991231,49.908759,6.578609
7,1000000041,Berlin Mariendorf,12107,Brandenburgische Straße,10.0,DE,EMEA,2,20000101,99991231,52.492245,13.310903
8,1000000042,Marne,25705,An Der Urania,30.0,DE,EMEA,2,20000101,99991231,53.952609,9.018139
9,1000000043,Augsburg,86045,Sonnenallee,43.0,DE,EMEA,2,20000101,99991231,48.370625,10.893961
10,1000000044,Glyntaff,CF37 3JJ,Brynglas Road,106.0,GB,EMEA,2,20000101,99991231,51.597073,-3.321350
11,1000000045,Stanton Wick,BS18 9DW,Pier Road,86.0,GB,EMEA,2,20000101,99991231,51.355959,-2.557565
12,1000000046,Talgarth,LD3 7QD,Scotsburn Rd,75.0,GB,EMEA,2,20000101,99991231,51.995666,-3.230553
13,1000000047,Stonestreet Green,TN25 2XG,Broomfield Place,48.0,GB,EMEA,2,20000101,99991231,51.098513,0.950137
14,1000000048,London,SE14 8JW,Guild Street,50.0,GB,EMEA,2,20000101,99991231,51.515982,-0.091245
15,1000000049,Kitoba,4605,Raglan Street,5.0,AU,APJ,2,20000101,99991231,-26.073321,151.859836
16,1000000050,Meadow Heights,3048,Creedon Street,11.0,AU,APJ,2,20000101,99991231,-37.651278,144.923051
17,1000000051,Kununurra,6743,Darwinia Loop,11.0,AU,APJ,2,20000101,99991231,-15.802511,128.746775
18,1000000052,Canberra,2601,Quayside Vista,18.0,AU,APJ,2,20000101,99991231,-35.279663,149.126715
19,1000000053,Canberra,2601,Quayside Vista,95.0,AU,APJ,2,20000101,99991231,-35.278051,149.124245
20,1000000054,Mumbai,400092,Rahul Enclave,105.0,IN,APJ,2,20000101,99991231,19.313940,72.857565
21,1000000055,Hyderabad,400092,Nampally,43.0,IN,APJ,2,20000101,99991231,17.385758,78.467547
22,1000000056,Mumbai,400017,Rewa Fort Colony,15.0,IN,APJ,2,20000101,99991231,19.046575,72.864262
23,1000000057,Mumbai,400012,Ambedkar Road,10.0,IN,APJ,2,20000101,99991231,19.073197,72.826831
24,1000000058,Delhi,110005,Faiz Road,93.0,IN,APJ,2,20000101,99991231,28.650563,77.200575
25,1000000059,Jebel Ali Free Zone,18673,Box No. 18673,NaN,DU,EMEA,2,20000101,99991231,25.006517,55.065244
26,1000000060,Dubai,39388,Box No. 39388,NaN,DU,EMEA,2,20000101,99991231,25.013792,55.131876
27,1000000061,Dubai,92064,Box No. 92064,NaN,DU,EMEA,2,20000101,99991231,24.960345,55.124104
28,1000000062,Dubai,30134,Box No. 30134,NaN,DU,EMEA,2,20000101,99991231,24.956728,55.120386
29,1000000063,Jebel Ali Free Zone,16939,Box No. 16939,NaN,DU,EMEA,2,20000101,99991231,24.963277,55.053726
30,1000000064,Borden,S4P 3Y2,St. John Street,3578.0,CA,AMER,2,20000101,99991231,47.595469,-52.703448
31,1000000065,Cooksville,L5A 1V9,Heatherleigh,3404.0,CA,AMER,2,20000101,99991231,43.570089,-79.609911
32,1000000066,Iroquois,K0E 1K0,Elgin Street,1008.0,CA,AMER,2,20000101,99991231,44.845124,-75.318280
33,1000000067,Schefferville,J0C 1G0,rue des Églises Est,2273.0,CA,AMER,2,20000101,99991231,54.809261,-66.815519
34,1000000068,Toronto,M5H 1P6,Adelaide St,1483.0,CA,AMER,2,20000101,99991231,43.647763,-79.391022
35,1000000069,Chelles,77500,rue Ernest Renan,21.0,FR,EMEA,2,20000101,99991231,48.878471,2.589870
36,1000000070,Laon,02000,Place Napoléon,55.0,FR,EMEA,2,20000101,99991231,49.553186,3.627835
37,1000000071,Besanon,25000,rue Jean Vilar,73.0,FR,EMEA,2,20000101,99991231,47.242859,6.035751
38,1000000072,Athis-Mons,91200,rue de Lille,54.0,FR,EMEA,2,20000101,99991231,48.705235,2.375049
39,1000000073,Paris,75006,rue Nationale,114.0,FR,EMEA,2,20000101,99991231,48.827364,2.366021
40,1000000001,Burr Ridge,60527,Fraggle Drive,996.0,US,AMER,1,20000101,99991231,41.748490,-87.918277
41,1000000002,Floß,92683,Borstelmannsweg,57.0,DE,EMEA,1,20000101,99991231,53.550141,10.052733
42,1000000003,High Halden,TN26 7GJ,Nenthead Road,126.0,GB,EMEA,1,20000101,99991231,51.101237,0.698829
43,1000000004,Sleepy Hollow,2483,Chester Street,48.0,AU,APJ,1,20000101,99991231,-28.420591,153.524102
44,1000000005,Mumbai,400015,T.k.indui Estate,11.0,IN,APJ,1,20000101,99991231,19.175001,72.850043
45,1000000006,Dubai,89610,Box No. 89610,NaN,DU,EMEA,1,20000101,99991231,24.968781,55.129116
46,1000000007,Annaheim,S4P 3Y2,St. John Street,2845.0,CA,AMER,1,20000101,99991231,52.319432,-104.820274
47,1000000008,Strasbourg,67100,rue Descartes,23.0,FR,EMEA,1,20000101,99991231,48.578824,7.762616
48,1000000009,San Luis Obispo,93401,Par Drive,1378.0,US,AMER,1,20000101,99991231,35.284387,-120.659734
49,1000000010,Jersey City,07305,Lakewood Drive,285.0,US,AMER,1,20000101,99991231,40.816042,-74.188869
50,1000000011,Wingate,79566,Frederick Street,728.0,US,AMER,1,20000101,99991231,39.418878,-77.409172
51,1000000012,Toronto,M2J 3T7,Victoria Park Ave,2523.0,CA,AMER,1,20000101,99991231,43.748615,-79.311992
52,1000000013,Toronto,M1S 1T4,Sheppard Ave,1122.0,CA,AMER,1,20000101,99991231,43.747480,-79.482548
53,1000000014,Toronto,P3E 4N2,Paris St,3443.0,CA,AMER,1,20000101,99991231,43.609163,-79.645953
54,1000000074,Paris,75001,Rue de Rivoli,50.0,FR,EMEA,1,20000101,99991231,48.856400,2.352200
55,1000000075,Oklahoma,73101-73199,Robinson Ave,100.0,US,AMER,1,20000101,99991231,35.472100,97.516300

In [15]:
addresses_updated[["address_id", "country"]].groupby(by=["country"]).nunique() # penulisan kode negara konsisten, tapi tidak readable sehingga perlu direplace menjadi nama negaranya

         address_id
country
AU                6
CA                9
DE                6
DU                6
FR                7
GB                6
IN                6
US               10

In [16]:
addresses_updated["country"].replace({"AU": "Australia", "CA": "Canada","DE": "Germany", "DU": "United Arab Emirates", "FR": "France", "GB": "United Kingdom", "IN": "India", "US": "United States" }, inplace=True)

/var/folders/7z/ywrk9q6s019bc2k5v74rkxfc0000gn/T/ipykernel_29684/3203383438.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  addresses_updated["country"].replace({"AU": "Australia", "CA": "Canada","DE": "Germany", "DU": "United Arab Emirates", "FR": "France", "GB": "United Kingdom", "IN": "India", "US": "United States" }, inplace=True)

In [17]:
addresses_updated

,address_id,city,postal_code,street,building,country,region,address_type,validity_startdate,validity_enddate,latitude,longitude
0,1000000034,West Nyack,10994,Settlers Lane,5027.0,United States,AMER,2,20000101,99991231,41.100057,-73.973562
1,1000000035,Fair Oaks,95628,Woodland Terrace,4467.0,United States,AMER,2,20000101,99991231,38.638355,-121.286683
2,1000000036,Dunn,28334,Layman Avenue,2250.0,United States,AMER,2,20000101,99991231,35.312013,-78.609950
3,1000000037,Chicago,60605,University Drive,4697.0,United States,AMER,2,20000101,99991231,41.874591,-87.627303
4,1000000038,Ocala,34471,Bagwell Avenue,1565.0,United States,AMER,2,20000101,99991231,29.183977,-82.118413
5,1000000039,Callenberg,02681,Kantstraße,56.0,Germany,EMEA,2,20000101,99991231,51.096588,14.433772
6,1000000040,Trimport,54636,Luetzowplatz,74.0,Germany,EMEA,2,20000101,99991231,49.908759,6.578609
7,1000000041,Berlin Mariendorf,12107,Brandenburgische Straße,10.0,Germany,EMEA,2,20000101,99991231,52.492245,13.310903
8,1000000042,Marne,25705,An Der Urania,30.0,Germany,EMEA,2,20000101,99991231,53.952609,9.018139
9,1000000043,Augsburg,86045,Sonnenallee,43.0,Germany,EMEA,2,20000101,99991231,48.370625,10.893961
10,1000000044,Glyntaff,CF37 3JJ,Brynglas Road,106.0,United Kingdom,EMEA,2,20000101,99991231,51.597073,-3.321350
11,1000000045,Stanton Wick,BS18 9DW,Pier Road,86.0,United Kingdom,EMEA,2,20000101,99991231,51.355959,-2.557565
12,1000000046,Talgarth,LD3 7QD,Scotsburn Rd,75.0,United Kingdom,EMEA,2,20000101,99991231,51.995666,-3.230553
13,1000000047,Stonestreet Green,TN25 2XG,Broomfield Place,48.0,United Kingdom,EMEA,2,20000101,99991231,51.098513,0.950137
14,1000000048,London,SE14 8JW,Guild Street,50.0,United Kingdom,EMEA,2,20000101,99991231,51.515982,-0.091245
15,1000000049,Kitoba,4605,Raglan Street,5.0,Australia,APJ,2,20000101,99991231,-26.073321,151.859836
16,1000000050,Meadow Heights,3048,Creedon Street,11.0,Australia,APJ,2,20000101,99991231,-37.651278,144.923051
17,1000000051,Kununurra,6743,Darwinia Loop,11.0,Australia,APJ,2,20000101,99991231,-15.802511,128.746775
18,1000000052,Canberra,2601,Quayside Vista,18.0,Australia,APJ,2,20000101,99991231,-35.279663,149.126715
19,1000000053,Canberra,2601,Quayside Vista,95.0,Australia,APJ,2,20000101,99991231,-35.278051,149.124245
20,1000000054,Mumbai,400092,Rahul Enclave,105.0,India,APJ,2,20000101,99991231,19.313940,72.857565
21,1000000055,Hyderabad,400092,Nampally,43.0,India,APJ,2,20000101,99991231,17.385758,78.467547
22,1000000056,Mumbai,400017,Rewa Fort Colony,15.0,India,APJ,2,20000101,99991231,19.046575,72.864262
23,1000000057,Mumbai,400012,Ambedkar Road,10.0,India,APJ,2,20000101,99991231,19.073197,72.826831
24,1000000058,Delhi,110005,Faiz Road,93.0,India,APJ,2,20000101,99991231,28.650563,77.200575
25,1000000059,Jebel Ali Free Zone,18673,Box No. 18673,NaN,United Arab Emirates,EMEA,2,20000101,99991231,25.006517,55.065244
26,1000000060,Dubai,39388,Box No. 39388,NaN,United Arab Emirates,EMEA,2,20000101,99991231,25.013792,55.131876
27,1000000061,Dubai,92064,Box No. 92064,NaN,United Arab Emirates,EMEA,2,20000101,99991231,24.960345,55.124104
28,1000000062,Dubai,30134,Box No. 30134,NaN,United Arab Emirates,EMEA,2,20000101,99991231,24.956728,55.120386
29,1000000063,Jebel Ali Free Zone,16939,Box No. 16939,NaN,United Arab Emirates,EMEA,2,20000101,99991231,24.963277,55.053726
30,1000000064,Borden,S4P 3Y2,St. John Street,3578.0,Canada,AMER,2,20000101,99991231,47.595469,-52.703448
31,1000000065,Cooksville,L5A 1V9,Heatherleigh,3404.0,Canada,AMER,2,20000101,99991231,43.570089,-79.609911
32,1000000066,Iroquois,K0E 1K0,Elgin Street,1008.0,Canada,AMER,2,20000101,99991231,44.845124,-75.318280
33,1000000067,Schefferville,J0C 1G0,rue des Églises Est,2273.0,Canada,AMER,2,20000101,99991231,54.809261,-66.815519
34,1000000068,Toronto,M5H 1P6,Adelaide St,1483.0,Canada,AMER,2,20000101,99991231,43.647763,-79.391022
35,1000000069,Chelles,77500,rue Ernest Renan,21.0,France,EMEA,2,20000101,99991231,48.878471,2.589870
36,1000000070,Laon,02000,Place Napoléon,55.0,France,EMEA,2,20000101,99991231,49.553186,3.627835
37,1000000071,Besanon,25000,rue Jean Vilar,73.0,France,EMEA,2,20000101,99991231,47.242859,6.035751
38,1000000072,Athis-Mons,91200,rue de Lille,54.0,France,EMEA,2,20000101,99991231,48.705235,2.375049
39,1000000073,Paris,75006,rue Nationale,114.0,France,EMEA,2,20000101,99991231,48.827364,2.366021
40,1000000001,Burr Ridge,60527,Fraggle Drive,996.0,United States,AMER,1,20000101,99991231,41.748490,-87.918277
41,1000000002,Floß,92683,Borstelmannsweg,57.0,Germany,EMEA,1,20000101,99991231,53.550141,10.052733
42,1000000003,High Halden,TN26 7GJ,Nenthead Road,126.0,United Kingdom,EMEA,1,20000101,99991231,51.101237,0.698829
43,1000000004,Sleepy Hollow,2483,Chester Street,48.0,Australia,APJ,1,20000101,99991231,-28.420591,153.524102
44,1000000005,Mumbai,400015,T.k.indui Estate,11.0,India,APJ,1,20000101,99991231,19.175001,72.850043
45,1000000006,Dubai,89610,Box No. 89610,NaN,United Arab Emirates,EMEA,1,20000101,99991231,24.968781,55.129116
46,1000000007,Annaheim,S4P 3Y2,St. John Street,2845.0,Canada,AMER,1,20000101,99991231,52.319432,-104.820274
47,1000000008,Strasbourg,67100,rue Descartes,23.0,France,EMEA,1,20000101,99991231,48.578824,7.762616
48,1000000009,San Luis Obispo,93401,Par Drive,1378.0,United States,AMER,1,20000101,99991231,35.284387,-120.659734
49,1000000010,Jersey City,07305,Lakewood Drive,285.0,United States,AMER,1,20000101,99991231,40.816042,-74.188869
50,1000000011,Wingate,79566,Frederick Street,728.0,United States,AMER,1,20000101,99991231,39.418878,-77.409172
51,1000000012,Toronto,M2J 3T7,Victoria Park Ave,2523.0,Canada,AMER,1,20000101,99991231,43.748615,-79.311992
52,1000000013,Toronto,M1S 1T4,Sheppard Ave,1122.0,Canada,AMER,1,20000101,99991231,43.747480,-79.482548
53,1000000014,Toronto,P3E 4N2,Paris St,3443.0,Canada,AMER,1,20000101,99991231,43.609163,-79.645953
54,1000000074,Paris,75001,Rue de Rivoli,50.0,France,EMEA,1,20000101,99991231,48.856400,2.352200
55,1000000075,Oklahoma,73101-73199,Robinson Ave,100.0,United States,AMER,1,20000101,99991231,35.472100,97.516300

In [18]:
list(addresses_updated["street"].unique()) # terdapat data yang tidak menuliskan nama jalan, hanya no. PO Box

['Settlers Lane',
 'Woodland Terrace',
 'Layman Avenue',
 'University Drive',
 'Bagwell Avenue',
 'Kantstraße',
 'Luetzowplatz',
 'Brandenburgische Straße',
 'An Der Urania',
 'Sonnenallee',
 'Brynglas Road',
 'Pier Road',
 'Scotsburn Rd',
 'Broomfield Place',
 'Guild Street',
 'Raglan Street',
 'Creedon Street',
 'Darwinia Loop',
 'Quayside Vista',
 'Rahul Enclave',
 'Nampally',
 'Rewa Fort Colony',
 'Ambedkar Road',
 'Faiz Road',
 'Box No. 18673',
 'Box No. 39388',
 'Box No. 92064',
 'Box No. 30134',
 'Box No. 16939',
 'St. John Street',
 'Heatherleigh',
 'Elgin Street',
 'rue des Églises Est',
 'Adelaide St',
 'rue Ernest Renan',
 'Place Napoléon',
 ' rue Jean Vilar',
 'rue de Lille',
 'rue Nationale',
 'Fraggle Drive',
 'Borstelmannsweg',
 'Nenthead Road',
 'Chester Street',
 'T.k.indui Estate',
 'Box No. 89610',
 'rue Descartes',
 'Par Drive',
 'Lakewood Drive',
 'Frederick Street',
 'Victoria Park Ave',
 'Sheppard Ave',
 'Paris St',
 'Rue de Rivoli',
 'Robinson Ave']

In [19]:
addresses_updated[["address_id", "validity_startdate"]].groupby(by=["validity_startdate"]).nunique() # penulisan tanggal tidak dalam bentuk timestamp

                    address_id
validity_startdate
20000101                    56

In [20]:
# membuat function untuk merubah format tanggal dari integer ke timestamp
def format_timestamp(date):
    string_date = str(date)
    year, month, day = string_date[0:4], string_date[4:6], string_date[6:8]
    date_format = f"{year}-{month}-{day}"
    timestamp = pd.Timestamp(date_format)
    return timestamp

In [21]:
addresses_updated["validity_startdate"] = addresses_updated["validity_startdate"].apply(format_timestamp)

In [22]:
addresses_updated[["address_id", "validity_enddate"]].groupby(by=["validity_enddate"]).nunique() # penulisan tanggal tidak dalam bentuk format timestamp

                  address_id
validity_enddate
99991231                  56

In [23]:
addresses_updated["validity_enddate"] = "20501231"

In [24]:
addresses_updated["validity_enddate"] = addresses_updated["validity_enddate"].apply(format_timestamp)

In [25]:
addresses_updated.info() # address_id, address_type, latitude, dan longitude masih dalam bentuk integer

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address_id          56 non-null     int64
 1   city                56 non-null     object
 2   postal_code         56 non-null     object
 3   street              56 non-null     object
 4   building            50 non-null     float64
 5   country             56 non-null     object
 6   region              56 non-null     object
 7   address_type        56 non-null     int64
 8   validity_startdate  56 non-null     datetime64[ns]
 9   validity_enddate    56 non-null     datetime64[ns]
 10  latitude            56 non-null     float64
 11  longitude           56 non-null     float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(5)
memory usage: 5.4+ KB

In [26]:
addresses_updated["address_id"] = addresses_updated["address_id"].astype(str)

In [27]:
addresses_updated["address_type"] = addresses_updated["address_type"].astype(str)

In [28]:
addresses_updated["latitude"] = addresses_updated["latitude"].astype(str)

In [29]:
addresses_updated["longitude"] = addresses_updated["longitude"].astype(str)

In [30]:
addresses_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address_id          56 non-null     object
 1   city                56 non-null     object
 2   postal_code         56 non-null     object
 3   street              56 non-null     object
 4   building            50 non-null     float64
 5   country             56 non-null     object
 6   region              56 non-null     object
 7   address_type        56 non-null     object
 8   validity_startdate  56 non-null     datetime64[ns]
 9   validity_enddate    56 non-null     datetime64[ns]
 10  latitude            56 non-null     object
 11  longitude           56 non-null     object
dtypes: datetime64[ns](2), float64(1), object(9)
memory usage: 5.4+ KB

In [31]:
addresses_clean = addresses_updated

In [32]:
addresses_clean

,address_id,city,postal_code,street,building,country,region,address_type,validity_startdate,validity_enddate,latitude,longitude
0,1000000034,West Nyack,10994,Settlers Lane,5027.0,United States,AMER,2,2000-01-01,2050-12-31,41.100057,-73.973562
1,1000000035,Fair Oaks,95628,Woodland Terrace,4467.0,United States,AMER,2,2000-01-01,2050-12-31,38.638355,-121.286683
2,1000000036,Dunn,28334,Layman Avenue,2250.0,United States,AMER,2,2000-01-01,2050-12-31,35.312013,-78.60995
3,1000000037,Chicago,60605,University Drive,4697.0,United States,AMER,2,2000-01-01,2050-12-31,41.874591,-87.627303
4,1000000038,Ocala,34471,Bagwell Avenue,1565.0,United States,AMER,2,2000-01-01,2050-12-31,29.183977,-82.118413
5,1000000039,Callenberg,02681,Kantstraße,56.0,Germany,EMEA,2,2000-01-01,2050-12-31,51.096588,14.433772
6,1000000040,Trimport,54636,Luetzowplatz,74.0,Germany,EMEA,2,2000-01-01,2050-12-31,49.908759,6.578609
7,1000000041,Berlin Mariendorf,12107,Brandenburgische Straße,10.0,Germany,EMEA,2,2000-01-01,2050-12-31,52.492245,13.310903
8,1000000042,Marne,25705,An Der Urania,30.0,Germany,EMEA,2,2000-01-01,2050-12-31,53.952609,9.018139
9,1000000043,Augsburg,86045,Sonnenallee,43.0,Germany,EMEA,2,2000-01-01,2050-12-31,48.370625,10.893961
10,1000000044,Glyntaff,CF37 3JJ,Brynglas Road,106.0,United Kingdom,EMEA,2,2000-01-01,2050-12-31,51.597073,-3.32135
11,1000000045,Stanton Wick,BS18 9DW,Pier Road,86.0,United Kingdom,EMEA,2,2000-01-01,2050-12-31,51.355959,-2.557565
12,1000000046,Talgarth,LD3 7QD,Scotsburn Rd,75.0,United Kingdom,EMEA,2,2000-01-01,2050-12-31,51.995666,-3.230553
13,1000000047,Stonestreet Green,TN25 2XG,Broomfield Place,48.0,United Kingdom,EMEA,2,2000-01-01,2050-12-31,51.098513,0.950137
14,1000000048,London,SE14 8JW,Guild Street,50.0,United Kingdom,EMEA,2,2000-01-01,2050-12-31,51.515982,-0.091245
15,1000000049,Kitoba,4605,Raglan Street,5.0,Australia,APJ,2,2000-01-01,2050-12-31,-26.073321,151.859836
16,1000000050,Meadow Heights,3048,Creedon Street,11.0,Australia,APJ,2,2000-01-01,2050-12-31,-37.651278,144.923051
17,1000000051,Kununurra,6743,Darwinia Loop,11.0,Australia,APJ,2,2000-01-01,2050-12-31,-15.802511,128.746775
18,1000000052,Canberra,2601,Quayside Vista,18.0,Australia,APJ,2,2000-01-01,2050-12-31,-35.279663,149.126715
19,1000000053,Canberra,2601,Quayside Vista,95.0,Australia,APJ,2,2000-01-01,2050-12-31,-35.278051,149.124245
20,1000000054,Mumbai,400092,Rahul Enclave,105.0,India,APJ,2,2000-01-01,2050-12-31,19.31394,72.857565
21,1000000055,Hyderabad,400092,Nampally,43.0,India,APJ,2,2000-01-01,2050-12-31,17.385758,78.467547
22,1000000056,Mumbai,400017,Rewa Fort Colony,15.0,India,APJ,2,2000-01-01,2050-12-31,19.046575,72.864262
23,1000000057,Mumbai,400012,Ambedkar Road,10.0,India,APJ,2,2000-01-01,2050-12-31,19.073197,72.826831
24,1000000058,Delhi,110005,Faiz Road,93.0,India,APJ,2,2000-01-01,2050-12-31,28.650563,77.200575
25,1000000059,Jebel Ali Free Zone,18673,Box No. 18673,NaN,United Arab Emirates,EMEA,2,2000-01-01,2050-12-31,25.006517,55.065244
26,1000000060,Dubai,39388,Box No. 39388,NaN,United Arab Emirates,EMEA,2,2000-01-01,2050-12-31,25.013792,55.131876
27,1000000061,Dubai,92064,Box No. 92064,NaN,United Arab Emirates,EMEA,2,2000-01-01,2050-12-31,24.960345,55.124104
28,1000000062,Dubai,30134,Box No. 30134,NaN,United Arab Emirates,EMEA,2,2000-01-01,2050-12-31,24.956728,55.120386
29,1000000063,Jebel Ali Free Zone,16939,Box No. 16939,NaN,United Arab Emirates,EMEA,2,2000-01-01,2050-12-31,24.963277,55.053726
30,1000000064,Borden,S4P 3Y2,St. John Street,3578.0,Canada,AMER,2,2000-01-01,2050-12-31,47.595469,-52.703448
31,1000000065,Cooksville,L5A 1V9,Heatherleigh,3404.0,Canada,AMER,2,2000-01-01,2050-12-31,43.570089,-79.609911
32,1000000066,Iroquois,K0E 1K0,Elgin Street,1008.0,Canada,AMER,2,2000-01-01,2050-12-31,44.845124,-75.31828
33,1000000067,Schefferville,J0C 1G0,rue des Églises Est,2273.0,Canada,AMER,2,2000-01-01,2050-12-31,54.809261,-66.815519
34,1000000068,Toronto,M5H 1P6,Adelaide St,1483.0,Canada,AMER,2,2000-01-01,2050-12-31,43.647763,-79.391022
35,1000000069,Chelles,77500,rue Ernest Renan,21.0,France,EMEA,2,2000-01-01,2050-12-31,48.878471,2.58987
36,1000000070,Laon,02000,Place Napoléon,55.0,France,EMEA,2,2000-01-01,2050-12-31,49.553186,3.627835
37,1000000071,Besanon,25000,rue Jean Vilar,73.0,France,EMEA,2,2000-01-01,2050-12-31,47.242859,6.035751
38,1000000072,Athis-Mons,91200,rue de Lille,54.0,France,EMEA,2,2000-01-01,2050-12-31,48.705235,2.375049
39,1000000073,Paris,75006,rue Nationale,114.0,France,EMEA,2,2000-01-01,2050-12-31,48.827364,2.366021
40,1000000001,Burr Ridge,60527,Fraggle Drive,996.0,United States,AMER,1,2000-01-01,2050-12-31,41.74849,-87.918277
41,1000000002,Floß,92683,Borstelmannsweg,57.0,Germany,EMEA,1,2000-01-01,2050-12-31,53.550141,10.052733
42,1000000003,High Halden,TN26 7GJ,Nenthead Road,126.0,United Kingdom,EMEA,1,2000-01-01,2050-12-31,51.101237,0.698829
43,1000000004,Sleepy Hollow,2483,Chester Street,48.0,Australia,APJ,1,2000-01-01,2050-12-31,-28.420591,153.524102
44,1000000005,Mumbai,400015,T.k.indui Estate,11.0,India,APJ,1,2000-01-01,2050-12-31,19.175001,72.850043
45,1000000006,Dubai,89610,Box No. 89610,NaN,United Arab Emirates,EMEA,1,2000-01-01,2050-12-31,24.968781,55.129116
46,1000000007,Annaheim,S4P 3Y2,St. John Street,2845.0,Canada,AMER,1,2000-01-01,2050-12-31,52.319432,-104.820274
47,1000000008,Strasbourg,67100,rue Descartes,23.0,France,EMEA,1,2000-01-01,2050-12-31,48.578824,7.762616
48,1000000009,San Luis Obispo,93401,Par Drive,1378.0,United States,AMER,1,2000-01-01,2050-12-31,35.284387,-120.659734
49,1000000010,Jersey City,07305,Lakewood Drive,285.0,United States,AMER,1,2000-01-01,2050-12-31,40.816042,-74.188869
50,1000000011,Wingate,79566,Frederick Street,728.0,United States,AMER,1,2000-01-01,2050-12-31,39.418878,-77.409172
51,1000000012,Toronto,M2J 3T7,Victoria Park Ave,2523.0,Canada,AMER,1,2000-01-01,2050-12-31,43.748615,-79.311992
52,1000000013,Toronto,M1S 1T4,Sheppard Ave,1122.0,Canada,AMER,1,2000-01-01,2050-12-31,43.74748,-79.482548
53,1000000014,Toronto,P3E 4N2,Paris St,3443.0,Canada,AMER,1,2000-01-01,2050-12-31,43.609163,-79.645953
54,1000000074,Paris,75001,Rue de Rivoli,50.0,France,EMEA,1,2000-01-01,2050-12-31,48.8564,2.3522
55,1000000075,Oklahoma,73101-73199,Robinson Ave,100.0,United States,AMER,1,2000-01-01,2050-12-31,35.4721,97.5163

EXTRACT TO POSTGRESQL

In [1]:
# extract dari database
engine = create_engine("postgresql://postgres:260399@localhost:5432/postgres")
connection = engine.connect()

NameError: name 'create_engine' is not defined

In [34]:
addresses_clean.to_sql("addresses_clean",
                                 con=connection,
                                 schema="base_plat_sap_bikes",
                                 if_exists="replace",
                                 index=False,
                                 method="multi"
)

56

In [35]:
# setting up the primary key
query_pk = """
alter table base_plat_sap_bikes.addresses_clean
add primary key(address_id)
"""
result = connection.execute(text(query_pk))
connection.commit()
connection.close()